{
  "name": "starfish-app",
  "version": "1.0.0",
  "type": "module",
  "private": true,
  "dependencies": {
    "@drakkar.software/starfish-server": "{{ starfish_ts_server_version }}",
    "hono": "^4",
    "@hono/node-server": "^1",
    "tsx": "^4"
  }
}
